
@font-face {
    font-family: 'Arimo';
    src: local('Arimo Bold'),
    local('Arimo-Bold'),
    url('./arimobold.woff2') format('woff2'),
    url('./arimobold.woff') format('woff'),
    url('./arimobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Arimo", sans-serif;
}

table {
    width: 1170px;
    border-collapse: collapse;
    border: 24px solid #3a4965;
    margin: auto;
}

table tr, th, td {
    border: 1px solid lightgrey;
    text-align: center;
    font-size: 16px;
}
.fas.fa-archive,
.fas.fa-cloud-upload-alt,
.fas.fa-envelope,
.far.fa-life-ring,
.fas.fa-dice-d6,
.fas.fa-users {
    font-size: 24px;
    padding-right:10px;
}
th {
    color: #484848;
    font-weight: bold;
}

td {
    color: #848484;
}

tr:nth-child(2n) {
    background: #e3e3e3;
    height: 69px;
}

.c0 {
    background-color: #fafafa;
    width: 310px;
}

.a1 {
    font-size: 18px;
}

.a2 {
    font-size: 30px;
}

.st, .em, .pr {
    background-color: #f2f2f2;
    width: 277px; height: 69px;}

.pm1, .pm2, .pm3 {
    background-color: #fafafa;
    font-size: 60px;
    color: #484848;
    text-align: left;
    padding: 0 0 5px 30px;
    height: 86px;
}

sup {
    font-size: 27px;
}

span {
    font-size: 18px;
    position: absolute;
    margin-top: 39px;
    font-weight: lighter;
    margin-left: -38px;
}

.c1 {
    background-color: #89c331;
    font-size: 24px;
    color: white;
    border-color: transparent;
    width: 277px;
    height: 70px;
}

.c2 {
    background-color: #f04a56;
    font-size: 30px;
    color: white;
    border-color: transparent;
}

.c3 {
    background-color: #20807c;
    font-size: 24px;
    color: white;
    border-color: transparent;
}

button {
    width: 190px;
    height: 49px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    outline: none;
}
.cu {
    background-color: #f2f2f2;
    height: 110px;
}

button:hover {
    background-color: deepskyblue;
    transform: translateY(1px);
}

.b1 {
    background-color: #484848;
}

.b2 {
    background-color: #89c331;
}

.b3 {
    background-color: #f04156;
}

.b4 {
    background-color: #20807c;
}

